<% flat = data.flats[owner] %>

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 50%), url('https://kitt.lewagon.com/placeholder/cities/<%= flat.city_slug %>'); height: 50vh; background-position: center;">
</div>

<div class="header-flat">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-1">
        <div class="header-details">
          <div class="header-owner text-center">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{owner}", class: "img-circle", width: "80" %>
            <p><%= flat.name %></p>
          </div>
          <div class="header-name">
            <h1><%= flat.description %></h1>
            <p><%= flat.city_name %></p>
            <p class="rating">
              <% (1..flat.rating).each do |_star| %>
              <i class="fa fa-star" style="color: #ffb400"></i>
              <% end %>
              <% if flat.rating < 5 %>
              <% x = 5 - flat.rating %>
              <% (1..x).each do |_unstar| %>
              <i class="fa fa-star" style="color: #cacccd"></i>
              <% end %>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="flat-description">
  <div class="container">
    <div class="row">
      <h2>About this flat:</h2>
    </div>
  </div>
</div>
</div>

